<div class='container'>
    <div class='row box'>
        <div class="col-md-6 col-xs-6">
            <img src='crum.jpg'>
        </div>

        <div class="col-md-6 col-xs-6 description">
            <h2><%= @@cake1.name %></h2>
            <p><%= @@cake1.description%></p>
            <p><%=@@cake1.price%></p>
            <button>Purchase</button>
        </div>
    </div>

    <div class='row box'>
        <div class="col-md-6 col-xs-6">
            <img class='cakes'src='strab.png'>
        </div>

        <div class="col-md-6 col-xs-6 description">
            <h2><%= @@cake2.name %></h2>
            <p><%= @@cake2.description%></p> 
            <p><%= @@cake2.price%></p>
            <button>Purchase</button>
        </div>
    </div>

    <div class='row box'>
        <div class="col-md-6 col-xs-6">
            <img src='cke.png'>
        </div>
            
        <div class="col-md-6 col-xs-6 description">
            <h2><%= @@cake3.name %></h2>
            <p><%= @@cake3.description%></p>
            <p><%= @@cake3.price%></p>
            <button>Purchase</button>
        </div>
    </div>    
</div>
     