<div class='container'>
    <div class='row box'>
        <div class="col-md-6 col-xs-6">
            <img src='chchip.png'>
        </div>

        <div class="col-md-6 col-xs-6 description">
            <h2><%= @@cookie1.name %></h2>
            <p><%= @@cookie1.description%></p>
            <p><%= @@cookie1.price%></p>
            <button>Purchase</button>
        </div>
    </div>

    <div class='row box'>
        <div class="col-md-6 col-xs-6">
            <img src='corn.png'>
        </div>

        <div class="col-md-6 col-xs-6 description">
            <h2><%= @@cookie2.name %></h2>
            <p><%= @@cookie2.description%></p>
            <p><%= @@cookie2.price%></p>
            <button>Purchase</button>
        </div>
    </div>

    <div class='row box'>
        <div class="col-md-6 col-xs-6">
            <img src='tplc.png'>
        </div>
            
        <div class="col-md-6 col-xs-6 description">
            <h2><%= @@cookie3.name %></h2>
            <p><%= @@cookie3.description%></p>
            <p><%= @@cookie3.price%></p>
            <button>Purchase</button>
        </div>
    </div>    
</div>



  
