<div class='container'>
    <div class='row box'>
        <div class="col-md-6 col-xs-6">
            <img src='muffin1.png'>
        </div>

        <div class="col-md-6 col-xs-6 description">
            <h2><%= @@muffin1.name %></h2>
            <p><%= @@muffin1.description%></p>
            <p><%= @@muffin1.price%></p>
            <button>Purchase</button>
        </div>
    </div>

        <div class='row box'>
            <div class="col-md-6 col-xs-6">
                <img src='muffin2.jpeg'>
            </div>

            <div class="col-md-6 col-xs-6 description">
                <h2><%= @@muffin2.name %></h2>
                <p><%= @@muffin2.description%></p> 
                <p><%= @@muffin2.price%></p>
                <button>Purchase</button>
            </div>
        </div>

        <div class='row box'>
            <div class="col-md-6 col-xs-6">
                <img src='muffin3.jpg'>
            </div>
                
            <div class="col-md-6 col-xs-6 description">
                <h2><%= @@muffin3.name %></h2>
                <p><%= @@muffin3.description%></p>
                <p><%= @@muffin3.price%></p>
                <button>Purchase</button>
             </div>
        </div>
</div>